/* VirtualizedTableBody.css */

.vt-body-wrapper {
  display: flex;
}

.vt-body {
  overflow: auto;
  border-left: 1px solid var(--nc-table-header-border);
  border-right: 1px solid var(--nc-table-header-border);
  border-bottom: 1px solid var(--nc-table-header-border);
  border-bottom-left-radius: 0.375rem;
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.vt-body::-webkit-scrollbar {
  display: none;
}

.vt-body:focus {
  outline: none;
}

.vt-body-table {
  width: 100%;
  border-collapse: collapse;
}

.vt-body-tbody {
  position: relative;
}

.vt-body-row {
  /* group class for hover effects on child elements */
  position: relative;
}

.vt-body-cell {
  color: var(--nc-table-text);
}

.vt-body-cell.vt-body-vertical-separator {
  border-right: 1px solid var(--nc-table-header-border);
}

.vt-body-cell.vt-body-horizontal-separator {
  border-bottom: 1px solid var(--nc-table-header-border);
}

.vt-body-cell-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.vt-scrollbar {
  width: 0.75rem;
  background-color: var(--nc-table-scrollbar-bg);
  border-right: 1px solid var(--nc-table-header-border);
  border-bottom: 1px solid var(--nc-table-header-border);
  border-bottom-right-radius: 0.375rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.vt-scrollbar-track {
  position: absolute;
  inset: 0.25rem 0.125rem;
  background-color: var(--nc-table-header-bg);
  border-radius: 9999px;
}

.vt-scrollbar-thumb {
  position: absolute;
  background-color: var(--nc-table-scrollbar-thumb-bg);
  border-radius: 9999px;
  transition: all 0.1s ease-out;
  margin-left: 0.125rem;
  margin-right: 0.125rem;
}

.vt-copy-notification {
  position: fixed;
  pointer-events: none;
  z-index: 20;
}

.vt-copy-notification-content {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: white;
  background-color: rgba(31, 41, 55, 0.9);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
