/* FileUpload Component Styles - Extends Input styles */

.fileupload-wrapper {
  display: inline-block;
}

.fileupload-label {
  margin-bottom: 0.5rem; /* mb-2 */
  font-size: 0.875rem; /* text-sm */
  color: var(--nc-input-label); /* text-gray-600 */
}

.fileupload-required-mark {
  margin-left: 0.25rem; /* ml-1 */
}

.fileupload-field-wrapper {
  position: relative;
}

.fileupload-field {
  display: flex;
  align-items: center;
  outline: none;
  border: 1px solid var(--nc-input-border); /* border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  background-color: var(--nc-input-bg); /* bg-gray-100 */
  width: 100%;
  height: 40px; /* Adjusted to match 40px height of Button and Select */
  overflow: hidden;
  transition: background-color 0.15s ease-in-out;
}

.fileupload-field:hover,
.fileupload-field:focus-within {
  background-color: var(--nc-input-hover-bg); /* hover:bg-gray-200 */
}

.fileupload-field-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fileupload-input {
  display: none;
}

.fileupload-button {
  height: 100%;
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500;
  color: var(--nc-btn-dark-text); /* text-white */
  background-color: var(--nc-btn-dark-bg); /* bg-gray-800 */
  border-right: 1px solid var(--nc-input-border);
  transition: background-color 0.2s;
}

.fileupload-button:hover,
.fileupload-button:focus {
  background-color: var(--nc-btn-dark-hover-bg); /* hover:bg-gray-950 */
}

.fileupload-button.fileupload-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fileupload-button:not(.fileupload-button-disabled) {
  cursor: pointer;
}

.fileupload-text {
  flex: 1;
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  font-size: 0.875rem; /* text-sm */
  color: var(--nc-input-text); /* text-gray-700 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileupload-clear {
  padding-right: 0.5rem;
}

.fileupload-error-message {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem); /* translate-y-1 */
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;
  color: var(--nc-input-error-text); /* text-red-900 */
}

.fileupload-message {
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem); /* translate-y-1 */
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;
  color: var(--nc-input-message-text); /* text-gray-600 */
}
