/* FileUpload.css */

.fileupload-wrapper {
  width: 100%;
}

.fileupload-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: #4b5563;
}

.fileupload-container {
  position: relative;
}

.fileupload-inner {
  display: flex;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  background-color: #f3f4f6;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
}

.fileupload-inner:hover {
  background-color: #e5e7eb;
}

.fileupload-inner:focus-within {
  background-color: #e5e7eb;
}

.fileupload-inner.fileupload-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fileupload-input {
  display: none;
}

.fileupload-button {
  height: 100%;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #1f2937;
  border-right: 1px solid #d1d5db;
  transition: background-color 0.2s;
}

.fileupload-button:hover {
  background-color: #030712;
}

.fileupload-button:focus {
  background-color: #030712;
}

.fileupload-button.fileupload-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.fileupload-button:not(.fileupload-button-disabled) {
  cursor: pointer;
}

.fileupload-text {
  flex: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  color: #374151;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileupload-clear {
  padding-right: 0.5rem;
}

.fileupload-error-message {
  font-size: 0.75rem;
  color: #7f1d1d;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem);
}

.fileupload-message {
  font-size: 0.75rem;
  color: #4b5563;
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem);
}
