/* Input Component Styles */

.input-wrapper {
  width: 100%;
}

.input-label {
  margin-bottom: 0.5rem; /* mb-2 */
  font-size: 0.875rem; /* text-sm */
  color: #4b5563; /* text-gray-600 */
}

.input-required-mark {
  margin-left: 0.25rem; /* ml-1 */
}

.input-field-wrapper {
  position: relative;
}

.input-field {
  outline: none;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  font-size: 1rem; /* text-md */
  line-height: 1.5rem;
  background-color: #f3f4f6; /* bg-gray-100 */
  color: #374151; /* text-gray-700 */
  width: 100%;
  height: 2.5rem; /* h-10 */
  padding-left: 0.75rem; /* indent-3 */
  padding-right: 0.75rem;
}

.input-field:hover,
.input-field:focus {
  background-color: #e5e7eb; /* hover:bg-gray-200, focus:bg-gray-200 */
}

.input-field::placeholder {
  color: #4b5563; /* placeholder:text-gray-600 */
  font-weight: 300; /* placeholder:font-light */
  font-style: italic; /* placeholder:italic */
}

.input-field:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-error-message {
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;
  color: #7f1d1d; /* text-red-900 */
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem); /* translate-y-1 */
}

.input-message {
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem;
  color: #4b5563; /* text-gray-600 */
  position: absolute;
  left: 0;
  top: 100%;
  transform: translateY(0.25rem); /* translate-y-1 */
}
