/* Switch.css */

.switch-container {
  display: inline-flex;
  align-items: center;
}

.switch-wrapper {
  position: relative;
  display: inline-block;
}

.switch-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.switch-input:disabled {
  cursor: not-allowed;
}

.switch-track {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 9999px;
  transition: background-color 0.2s;
  pointer-events: none;
}

.switch-track.switch-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.switch-track:not(.switch-disabled) {
  cursor: pointer;
}

.switch-track.switch-unchecked {
  background-color: var(--nc-switch-track-unchecked-bg);
}

.switch-track.switch-checked {
  background-color: var(--nc-switch-track-checked-bg);
}

.switch-track.switch-checked:hover {
  background-color: var(--nc-switch-track-checked-hover-bg);
}

.switch-track.switch-checked:focus {
  background-color: var(--nc-switch-track-checked-hover-bg);
}

.switch-thumb {
  position: absolute;
  background-color: var(--nc-switch-thumb-bg);
  border-radius: 9999px;
  transition: transform 0.2s ease-in-out;
}

.switch-label {
  margin-left: 0.5rem;
  font-size: 0.875rem;
  color: var(--nc-checkbox-label);
  user-select: none;
}

.switch-label.switch-label-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.switch-label:not(.switch-label-disabled) {
  cursor: pointer;
}
