/* Textarea.css */

.textarea-wrapper {
  width: 100%;
  display: inline-block;
}

.textarea-label {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  color: var(--nc-input-label);
}

.textarea-required {
  margin-left: 0.25rem;
}

.textarea-container {
  position: relative;
}

.textarea-field {
  outline: none;
  border: 1px solid var(--nc-input-border);
  border-radius: 0.375rem;
  font-size: 1rem;
  background-color: var(--nc-input-bg);
  color: var(--nc-input-text);
  width: 100%;
  padding: 0.75rem;
  resize: vertical;
}

.textarea-field:hover {
  background-color: var(--nc-input-hover-bg);
}

.textarea-field:focus {
  background-color: var(--nc-input-hover-bg);
}

.textarea-field::placeholder {
  color: var(--nc-input-placeholder);
  font-weight: 300;
  font-style: italic;
}

.textarea-field.textarea-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.textarea-error-message {
  font-size: 0.75rem;
  color: var(--nc-input-error-text);
  position: absolute;
  left: 0;
  top: 100%;
}

.textarea-message {
  font-size: 0.75rem;
  color: var(--nc-input-message-text);
  position: absolute;
  left: 0;
  top: 100%;
}
