

.table-wrap {
  border-radius: 0.375rem;
  will-change: contents;
  overflow: hidden !important;
}

.table-wrapper {
  border-radius: 0.375rem;
}

.table-wrapper:focus {
  outline: none;
}

.table-header-body-wrapper {
  display: flex;
}

.table-header-container {
  border-top: 1px solid var(--nc-table-header-border);
  border-left: 1px solid var(--nc-table-header-border);
  border-right: 1px solid var(--nc-table-header-border);
  border-bottom: 1px solid var(--nc-table-header-border);
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  overflow: hidden;
  flex: 1;
  background-color: var(--nc-table-header-bg);
}

.table-scrollbar-spacer {
  display: none;
}
