/* LeftNav.css */

.left-nav {
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  background-color: var(--nc-nav-bg);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.left-nav::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.left-nav-open-button {
  z-index: 10;
  top: 100px;
  left: 0;
  position: fixed;
}

.left-nav-close-button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.left-nav-link-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 600;
  color: var(--nc-nav-text);
  padding: 1rem;
  border: 1px solid var(--nc-nav-border);
  border-right: 0;
  border-left: 0;
  cursor: pointer;
  background: transparent;
  text-align: left;
  font-size: inherit;
  font-family: inherit;
}

.left-nav-link-trigger:hover {
  color: var(--nc-nav-text-hover);
  background-color: var(--nc-nav-option-hover-bg);
}

.left-nav-link-trigger.left-nav-border-top-0 {
  border-top: 0;
  border-left: 0;
}

.left-nav-chevron {
  margin-left: 0.5rem;
}

.left-nav-option-link {
  display: block;
  width: 100%;
  color: var(--nc-nav-text);
  padding: 1rem 2rem;
  border: 1px solid var(--nc-nav-border);
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

.left-nav-option-link:hover {
  color: var(--nc-nav-text-hover);
  background-color: var(--nc-nav-option-hover-bg);
}

.left-nav-simple-link {
  display: block;
  width: 100%;
  font-weight: 600;
  color: var(--nc-nav-text);
  padding: 1rem;
  border: 1px solid var(--nc-nav-border);
  border-right: 0;
  border-left: 0;
}

.left-nav-simple-link:hover {
  color: var(--nc-nav-text-hover);
  background-color: var(--nc-nav-option-hover-bg);
}

.left-nav-simple-link.left-nav-border-top-0 {
  border-top: 0;
  border-left: 0;
}

.left-nav-page {
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1000px) {
  .left-nav {
    transform: translateX(-1000px);
  }
  
  .left-nav-page {
    margin-left: 0px !important;
  }
}

@media (min-width: 1001px) {
  .left-nav-close-button {
    display: none;
  }
  
  .left-nav-open-button {
    display: none;
  }
}