/* TopNav.css */

.top-nav {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--nc-nav-bg);
}

.top-nav.top-nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.top-nav-right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-nav-link {
  color: var(--nc-nav-text);
  font-weight: 600;
}

.top-nav-link:hover {
  color: var(--nc-nav-text-hover);
}

.top-nav-dropdown-trigger {
  color: var(--nc-nav-text);
  font-weight: 600;
}

.top-nav-dropdown-trigger:hover {
  color: var(--nc-nav-text-hover);
}

.top-nav-dropdown-option {
  display: block;
  width: 100%;
  color: var(--nc-nav-text);
  padding: 0.5rem 1rem;
}

.top-nav-dropdown-option:hover {
  color: var(--nc-nav-text-hover);
  background-color: var(--nc-nav-option-hover-bg);
}

.small-screen-options {
  display: none !important;
}

@media (max-width: 1000px) {
  .small-screen-options {
    display: flex !important;
  }

  .top-nav-right-side {
    display: none !important;
  }
}