@media (max-width: 768px) {
  .top-nav-hamburger {
    display: block;
  }

  .top-nav-right-side {
    display: none;
  }
}

@media (min-width: 769px) {
  .top-nav-hamburger {
    display: none;
  }

  .top-nav-right-side {
    display: flex;
  }
}