/* Card Component Styles */

.card {
  border: 1px solid var(--nc-card-border); /* border-gray-300 */
  background-color: var(--nc-card-bg);
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: var(--nc-card-shadow); /* shadow-md */
  padding: 1rem; /* p-4 */
}
