/* Pill.css */

.pill {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--nc-pill-text);
  background-color: var(--nc-pill-bg);
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
}

.pill.pill-interactive {
  cursor: pointer;
}

.pill-close-icon {
  margin-right: 0.5rem;
  cursor: pointer;
}
