/* Collapsible Component Styles */

.collapsible-trigger {
  cursor: pointer;
  display: block;
  width: 100%;
  user-select: none;
}

.collapsible-body {
  /* Collapsible content container */
  display: block;
}
