/* Collapsible Component Styles */

.collapsible-trigger {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  position: relative;
  width: 100%;
}

.collapsible-body {
  /* Collapsible content container */
  display: block;
}
