/* Collapsible Component Styles */

.collapsible-trigger {
  cursor: pointer;
  display: inline-block;
  user-select: none;
  position: relative;
  border: 1px solid transparent;
}

.collapsible-trigger:focus {
  border-color: var(--nc-gray-600);
}

.collapsible-trigger:focus:not(:focus-visible) {
  border-color: transparent;
}

.collapsible-trigger:focus-visible {
  border-color: var(--nc-gray-600);
}

.collapsible-body {
  /* Collapsible content container */
  display: block;
}
