/* Modal Component Styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); /* bg-black bg-opacity-60 */
}

.modal-content {
  position: relative;
  padding: 1.25rem; /* p-5 */
  background-color: var(--nc-modal-content-bg); /* bg-white */
  border-radius: 0.25rem; /* rounded */
  min-width: 260px; /* min-w-[260px] */
  min-height: 180px; /* min-h-[180px] */
  box-shadow: var(--nc-modal-content-shadow); /* shadow-lg */
  max-width: 95%; /* max-w-[95%] */
  max-height: 95%; /* max-h-[95%] */
  overflow: auto; /* overflow-auto */
  z-index: 101;
}

/* Responsive padding for larger screens */
@media (min-width: 640px) {
  .modal-content {
    padding: 2rem; /* sm:p-8 */
    min-width: 320px; /* sm:min-w-[320px] */
    min-height: 200px; /* sm:min-h-[200px] */
  }
}

.modal-close-button {
  position: absolute;
  top: 0.5rem; /* top-2 */
  right: 0.5rem; /* right-2 */
  z-index: 102;
}

.modal-trigger {
  display: inline-block;
  cursor: pointer;
}
