.sign-in-wrap {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-form-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.sign-in-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sign-in-form-links {
  font-size: 0.875rem;
  text-align: center;
  margin-bottom: 0.5rem;
}